<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>FocusGarden</string>
    <key>CFBundleIdentifier</key>
    <string>dev.local.focusgarden</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>森时</string>
    <key>CFBundleDisplayName</key>
    <string>森时</string>
    <key>CFBundleIconFile</key>
    <string>FocusGarden</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>0.3.1</string>
    <key>CFBundleVersion</key>
	<string>4</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>森时需要读取并清空非白名单浏览器标签页，以在专注期间执行网页白名单。</string>
</dict>
</plist>
